.header-nav {
  border-bottom: 1px solid #ececec;
}
.header-container {
  @extend %align-items;
}
.container-nav {
  @extend %align-items;
}
.site-nav {
  @extend %align-items;
  & .current {
    color: var(--accent-color);
  }
}
.site-nav .link,
.auth-nav .contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.header-link {
  display: block;
  padding: 32px 0;
  margin: 0;
  color: var(--title-text-color);
  @include font(500, 14px, 1.14, 0.02em);
  position: relative;
}
.current {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    bottom: -1px;
  }
}
.contacts-container {
  margin-left: auto;
}
.auth-nav {
  display: flex;
  align-items: center;
}
.contacts {
  display: flex;
  padding: 32px 0;
  margin: 0;
  color: var(--primary-text-color);
  @include font(500, 14px, 1.14, 0.02em);
  align-items: center;
}
.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
