.section-team {
  background-color: var(--secondary-bgc-color);
}
.section-team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.section-team__item-img-team {
  padding-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-photo {
  margin-bottom: 30px;
}
.section-team__name,
.section-team__profesion {
  margin: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section-team__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
}
.section-team__profesion {
  margin-bottom: 16px;
  font-weight: 400;
}
