.button {
  display: flex;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  @include font(700, 16px, 1.87, 0.06em);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
