.footer-button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px;
  padding-left: 29px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
