.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  @extend %align-items;
  justify-content: center;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &.is-hidden .modal {
    transform: scale(2);
    opacity: 0;
  }
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--secondary-text-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.close-button {
  position: absolute;
  left: 490px;
  top: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  @extend %align-items;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.close-icon {
  width: 18px;
  height: 18px;
}

.modal-title {
  margin: 0;
  margin-bottom: 12px;
  color: var(--title-text-color);
  @include font(700, 20px, 1.15);
  text-align: center;
}
.modal-block {
  margin-bottom: 10px;
}
.label-input {
  display: block;
  margin-bottom: 4px;
  @include font(400, 12px, 1.17, 0.01em);
  color: var(--primary-text-color);
}
.input-wrapper {
  display: block;
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  &:hover + .input-icon,
  &:focus + .input-icon {
    fill: var(--accent-color);
  }
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  outline: none;
  color: var(--primary-text-color);
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-lock {
  margin-bottom: 20px;
}
.check-text {
  @include font(400, 14px, 1.71);
  display: flex;
  margin-bottom: 30px;
  position: relative;
  align-items: center;
  justify-content: center;
  span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-checkbox {
  &:hover + .check-text span,
  &:focus + .check-text span {
    border: 2px solid var(--accent-color);
  }
  &:checked + .check-text span {
    background-color: var(--accent-color);
    border: none;
  }
}

.check-link {
  color: var(--accent-color);
}
.modal-button {
  width: 200px;
  height: 50px;
  padding: 10px 56px;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
