.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  @include font(900, 44px, 1.36, 0.06em);
  text-align: center;
  text-transform: uppercase;
}
